.auth__login__body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    top: -30px;
}

.input_l_a {
    height: 30px;
    width: 280px;
    margin-top: 6px;
    display: block;
}

.input_l_a:first-child {margin-top: 0;}

.sign-up__btn {
    text-decoration: none;
    color: blue;
    font-weight: 600;
    border: none; 
    outline: none;
    display: inline-block;
    background-color: transparent;
    font-size: 14px;
}

.auth-or {
    font-size: 17px;
    font-weight: 600;
    margin: 8px 0;
}

.password {
    margin: 7px 0;
    position: relative;
}

.password p {
    position: absolute;
    top: -6px;
    right: 5px;
    background-color: transparent;
    border:none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.loading_div   {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.login__img img {
    max-width: 100%;
    height: 100%;
}


.login-form__wrapper {
    max-height: 100%;
    background-color: white;
    padding: 30px;
    max-width: 285px;
    border: 1px solid rgb(179, 179, 179);
}

.login-form__reg {
    max-height: 100%;
    background-color: white;
    margin-top: 10px;
    padding: 15px 28px;
    border: 1px solid rgb(179, 179, 179);
    max-width: 288px;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.login-form__reg div {
    font-size: 14px;
    white-space: nowrap;
}

.login-form__wrapper h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sign_in__row {
    margin-top: 15px;
}

.sign-in__btn  {
    text-decoration: none;
    color: blue;
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.auth-errors {
    font-size: 13px;
    color: red;
    position: relative;
    top: -10px;
}

.btn-up {
    width: 100%;
    height: 32px;
    background-color: rgb(71, 71, 255);
    color:white;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn-sign {
    width: 100%;
    height: 32px;
    color: rgb(230, 230, 230);
    background-color: rgb(71, 71, 255);
    cursor: pointer;
}


.login-form__wrapper > p {
    position: relative;
    margin-bottom: 20px;
    color: gray;
    z-index: 3;
    text-align: center;
}

.login-form__wrapper > p:after {
    content: "";
    position: relative;
    top: -10px;
    display: block;
    height: 1px;
    width: calc(50% - 25px);
    background-color: rgb(179, 179, 179);
}
.login-form__wrapper > p:before {
    content: "";
    position: relative;
    top: 14px;
    left: calc(50% + 25px); 
    display: block;
    height: 1px;
    width: calc(50% - 25px);
    background-color: rgb(179, 179, 179);
}

.enter__facebook {
    font-size: 16px;
    color: rgb(1, 1, 232);
    text-decoration: none;
    font-weight: 600;
}

.forget__password {
    color:blue;
    text-decoration: none;
    font-size: 14px;
}

.login-form__wrapper > div {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.title-login {
    margin-top: -26px;
    margin-bottom: 20px;
    color: gray;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 768px) {
    .login__column:first-child {
        display: none;
    }

    .auth__login__body {
        grid-template-columns: 1fr
    }
}